* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1194px !important;
  }
}
a,
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
/* h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
} */
.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-fa {
  background-color: #024f72;
}
.header {
  margin-top: 20px;
}
.infor-header span {
  margin: 0 10px;
}
.infor-header a {
  color: #ffffff;
}
.infor-header {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  height: 25px;
}
.search input {
  width: 211px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  color: #024f72;
}
.search .icon {
  min-height: 28.5px;
  margin-top: 1px;
  background-color: rgb(0, 140, 175);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search .icon i {
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 100%;
  color: #ffffff;
}
.menu-header {
  display: flex;
}
.menu-header .logo {
  height: 100px;
  width: 100px;
}
.menu-header .logo img {
  width: 100%;
  height: 100%;
}
.menu-header .menu {
  line-height: 100px;
  margin-left: 50px;
}
.menu-header .menu li {
  margin: 0 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu-header .menu li a {
  color: #ffffff;
}
.menu-header .menu li a i {
  font-size: 12px;
  color: #ffffff;
}
.menu > ul > li {
  position: relative;
  display: inline-block;
}
.menu > ul > li > ul {
  position: absolute;
  background: #ffffff;
  display: none;
  width: 290px;
  line-height: 50px;
  z-index: 99;
  margin-left: -20px;
}
.menu > ul > li:hover a {
  color: rgb(255, 0, 0);
}
.menu > ul > li:hover a i {
  color: rgb(255, 0, 0);
}
.menu ul li:hover ul {
  display: block;
  margin-top: -25px;
  border: 1px solid #024f72;
  border-radius: 5px;
}
.menu ul li:hover ul li a {
  color: #024f72;
}
.menu ul li:hover ul li:hover a {
  color: rgb(255, 0, 0);
}
.menu-header .menu li a .header-bag {
  font-size: 20px;
}

/* foooter */
.footer {
  width: 100%;
  background: #024f72;
  height: 385px;
  padding-top: 50px;
}
.footer-infor h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 30px;
}
.footer-infor .infor {
  margin-left: 10px;
}
.footer-infor h3 {
  margin: 0;
  margin-top: 10px;
  color: #ffffff;
  font-size: 25px;
}
.footer-infor .infor .inform {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
}
.footer-infor .infor .inform a {
  color: rgb(123, 231, 255);
  font-size: 16px;
}
.footer-infor .contact {
  margin-top: 20px;
}
.footer-infor .contact a {
  font-size: 35px;
  color: #ffffff;
  margin-right: 20px;
}
.footer-infor .contact a:hover {
  color: rgb(3, 255, 104);
}
.footer-infor-center h1 {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-infor-center p {
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 10px;
}
.logo-footer .logo img {
  width: 200px;
  height: 200px;
  margin-top: -20px;
}
.footer-infor-left {
  color: #ffffff;
}
.footer-infor-left h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.footer-infor-left h5 {
  font-size: 16px;
}
.footer-under {
  width: 100%;
  height: 50px;
  background: #00415f;
  color: #ffffff;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

/* home */
.slick-prev {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 20px;
  color: #024f72;
  z-index: 99;
  border: none;
  background: none;
}
.slick-next {
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #024f72;
  z-index: 99;
  border: none;
  background: none;
}
.slick-slide img {
  width: 100%;
  height: 500px;
}
.about-us {
  margin-top: 40px;
}
.about-us h3 {
  font-size: 25px;
  font-weight: 500;
  color: #024f72;
}
.about-us h1 {
  color: #024f72;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}
.about-us .desc_about {
  font-size: 16px;
  max-height: 245px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}
.about-us-img {
  height: 450px;
}
.about-us-img img {
  height: 100%;
}
.about-us .more {
  padding: 5px 10px;
  background: #024f72;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.why-change-us {
  margin-top: 80px;
  margin-bottom: 50px;
}
.why-change-us-top img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.why-change-us-top h1 {
  text-align: center;
  font-size: 35px;
  color: #024f72;
  font-weight: bold;
  margin: 10px 0;
}
.why-change-us-top p {
  max-width: 850px;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 500;
}
.why-change-us-right img {
  width: 120px;
  height: 115px;
  display: block;
  margin: 0 auto;
}
.why-change-us-right .title,
.why-change-us-left .title {
  font-size: 18px;
  color: #024f72;
  font-weight: bold;
  margin: 10px 0;
  word-spacing: 3px;
  text-align: center;
}
.why-change-us-right p,
.why-change-us-left p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
.why-change-us-left,
.why-change-us-right {
  margin-bottom: 15px;
}
.why-change-us-left img {
  width: 120px;
  height: 115px;
  display: block;
  margin: 0 auto;
}
.image-center {
  width: 100%;
  height: 400px;
  margin-top: 120px;
  margin-left: auto;
  margin-left: auto;
}
.image-center img {
  width: 100%;
  height: 100%;
}
.service-us {
  width: 100%;
  height: 1000px;
  background: #024f72;
}
.service-us h1 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.service-us h5 {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
.service-us-left {
  width: 250px;
  height: 250px;
  display: block;
  margin-right: 10px;
  margin-bottom: 120px;
}
.service-us-left:last-child {
  margin-right: 0;
}
.service-us-fath1 {
  margin-top: 100px;
}
.service-us-fath {
  margin-top: 30px;
}
.logo-service-us {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.logo-service-us img {
  width: 100px;
  height: 100px;
}
.service-us-left img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #024f72;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow: ngang dọc độ-tràn-màu khoảng-cách mã-màu; */
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.service-us-left img:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  border: 2px solid #00bfff;
}
.service-us-left h4:hover {
  color: #01b8f5;
}
.service-us-left h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
  color: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}
.service-us-left .p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.booking {
  width: 100%;
  height: 600px;
  border: 2px dotted #00ff15;
  padding: 20px;
  margin-top: 50px;
}
.booking ul {
  padding: 10px;
}
.booking h1 {
  font-size: 25px;
  color: #02ffee;
  border-bottom: 2px solid #00c8ff;
  text-transform: uppercase;
}
.booking li {
  border-bottom: 2px dotted #ffe604;
  font-size: 16px;
  color: #00ff15;
  margin-bottom: 30px;
}
.booking input {
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  background: #00940d;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}
.booking input:hover {
  background: #c30000;
}
.booking h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.booking p {
  color: #ffffff;
  font-size: 16px;
  margin: 15px 0 30px 0;
}
.booking h3 .fa-user-edit {
  color: #c30000;
}
.form-booking {
  display: block;
  margin: 0 auto;
  background: #f8f8f8;
  z-index: 99;
}
.form-booking {
  background-color: rgba(33, 33, 45, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
}
.form-booking form {
  top: 8%;
  width: 480px;
  height: 572px;
  background-color: #ccc;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  border-radius: 5px;
}
.form-booking form .title-booking {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
  color: #ffffff;
  margin-bottom: 0;
  padding: 10px 0;
}
.form-booking-change form .title-booking-here {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
  color: #ffffff;
  margin-bottom: 0;
  padding: 10px 0;
}
.form-booking form .line-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #00760a;
}
.form-booking form .line-1 .fa-times {
  color: #c30000;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.form-booking form .line-2 {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.form-booking form .line-2 input {
  width: 228px;
  height: 35px;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  background: #ececec;
  font-weight: bold;
}
.form-booking form .line-3 {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-booking form .line-3 input {
  width: 228px;
  height: 35px;
  border-radius: 10px;
  padding: 1px 5px;
  font-size: 14px;
  border: none;
  background: #ececec;
  font-weight: bold;
}
.form-booking form .line-2 input::placeholder {
  color: #000000;
}
.form-booking form .line-3 input::placeholder {
  color: #000000;
}
.form-booking form .line-6 input::placeholder {
  color: #000000;
}
.form-booking form .line-5 {
  padding: 0 10px 0 10px;
}
.booking-message {
  font-size: 13px;
  margin-bottom: 0;
  margin-left: 5px;
}
.form-booking form .line-5 .decs {
  width: 100%;
  border: none;
  background: #ececec;
  color: 14px;
  border-radius: 10px;
  padding: 15px 15px;
  font-weight: bold;
  font-size: 16px;
  height: 180px;
}
.decs::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.form-booking form .line-4 {
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.form-booking form .line-4 .group-booking{
  width: 228px;
}
.form-booking form .line-4 select {
  width: 100%;
  border: none;
  background: #ececec;
  color: 14px;
  border-radius: 10px;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: bold;
}
.form-booking form .line-6 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form-booking form .line-6 input {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 0;
  background: #c30000;
  color: #ffffff;
  font-weight: bold;
}
.form-booking form .line-6 input:hover {
  background: #00940d;
}
.logo-post-service {
  padding-top: 30px;
}
.logo-post-service .logo {
  display: flex;
  justify-content: center;
}
.logo-post-service .logo img {
  width: 100px;
  height: 100px;
}
.logo-post-service h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #00415f;
}
.post-service-slide {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.post-service-slide .post-all {
  margin: 40px 40px 0 40px;
}
.post-service-slide .post-all .post-img {
  height: 280px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow: ngang dọc độ-tràn-màu khoảng-cách mã-màu; */
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.post-service-slide .post-all:hover .post-img {
  height: 260px;
}
.post-service-slide .post-all .post-title {
  color: #00415f;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  border: 0;
}
.post-service-slide .post-all:hover .post-title {
  color: #c30000;
}
.post-service-slide .post-all .post-desc {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slick-list {
  z-index: 1;
}
.slick-prev1,
.slick-next1 {
  margin-top: -60px;
}
.pet-show {
  width: 100%;
  height: 1100px;
  background: #024f72;
  padding-top: 40px;
}
.logo-pet-show .logo {
  display: flex;
  justify-content: center;
}
.logo-pet-show .logo img {
  width: 100px;
  height: 100px;
}
.logo-pet-show h1 {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}
.logo-pet-show p {
  text-align: center;
  padding-bottom: 35px;
  color: #ffffff;
  font-size: 16px;
}
.pet-shop-chil-in {
  background: #ffffff;
  height: 380px;
}
.pet-shop-chil {
  height: 380px;
  background: #024f72;
  margin-bottom: 20px;
}
.pet-show .pet-shop-img {
  width: 100%;
  height: 250px;
}
.pet-show .pet-shop-title {
  font-size: 18px;
  color: #00415f;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0;
  padding: 0 10px;
  font-weight: 400;
  height: 55px;
}
.pet-shop-chil:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}
.pet-shop-chil .pet-shop-title:hover {
  color: #ff0000;
}
.pet-show .more {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}
.pet-show .more a i {
  font-size: 12px;
}
.pet-show .more a {
  color: #00940d;
}
.pet-show .more a:hover {
  color: #ff0000;
}
.newws {
  padding-bottom: 40px;
}
.title-news {
  padding-top: 40px;
}
.title-news .logo {
  display: flex;
  justify-content: center;
}
.title-news .logo img {
  width: 100px;
  height: 100px;
}
.title-news h1 {
  color: #00415f;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
.newws .news-chil {
  display: flex;
  padding: 15px 15px;
}
.news-chil:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}
.newws .news-chil a img {
  width: 150px;
  height: 150px;
}
.newws .news-chil .news-chil-title {
  margin-left: 15px;
  width: 70%;
}
.newws .news-chil .news-chil-title a h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0072a7;
  font-weight: bold;
}
.newws .news-chil .news-chil-title .desc-p {
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* information  */
.main-information .title {
  color: #00415f;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
.main-information .desc {
  color: #000000;
  font-size: 50px;
}

/* servece  */
.main-service h1 {
  color: #00415f;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0 30px 0;
}
.service {
  display: flex;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  border: 2px solid #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow: ngang dọc độ-tràn-màu khoảng-cách mã-màu; */
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.service img {
  width: 200px;
  height: 200px;
  position: relative;
}
.service .time {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 50%;
  background: #fc8b00;
}
.service .time h5 {
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}
.service .service-title {
  padding: 0 15px;
  padding-top: 10px;
}
.service .service-title .title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0072a7;
  font-weight: bold;
}
.service .service-title .title:hover {
  color: #c30000;
}
.service-title .desc {
  color: #000000;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.service-title a {
  color: #000000;
  font-size: 18px;
}
.view-news-news{
  position: relative;
}
.show-view-news-news{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #00415f;
}
.right-service {
  padding: 20px;
  margin-bottom: 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.search-service {
  display: flex;
  justify-content: end;
}
.search-service input {
  width: 100%;
  height: 30px;
  font-size: 16px;
}
.search-service .icon {
  height: 31px;
  margin-left: -1px;
  width: 50px;
  margin-top: -1px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.news-service-chil {
  display: flex;
}
.title-news-service-chil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.title-news-service-chil .desc {
  font-size: 16px;
  color: #00415f;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.title-news-service-chil .desc:hover {
  color: #c30000;
}
.title-news-service-chil .line {
  height: 1px;
  width: 100%;
  background: #e9e9e9;
  margin: 20px 0;
}
.main-service-chil h1 {
  color: #00415f;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0 30px 0;
}
.main-service-chil .slider-service {
  margin-bottom: 20px;
}
.main-service-chil .slider-service img {
  width: 100%;
  height: 400px;
}
.main-service-chil {
  position: relative;
}
.main-service-chil .service-h1 {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff0000;
}
.main-service-chil .service-h5 {
  color: #015988;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-service-chil .news-h2 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: #ff0000;
  font-weight: bold;
}
.post-all-service {
  padding: 20px;
}
.post img {
  width: 100%;
}
.main-service-chil .post-all-service {
  margin-bottom: 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.post-contact-service {
  margin: 40px 0;
}
.service-hotline,
.service-address {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
.service-hotline a,
.service-address a {
  color: #0084a2;
}
.contact-service-h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.contact-service-all {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.circle-contact {
  width: 40px;
  height: 40px;
  border: 2px solid #00415f;
  color: #00415f;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  margin-right: 20px;
}
.circle-contact i {
  font-size: 25px;
  color: #00415f;
  margin-top: 1px;
}
.product-h1 {
  color: #3eb800 !important;
  font-size: 50px !important;
}
.tell-service-all {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 30px 15px;
}
.tell-left i {
  color: #00940d;
  font-size: 35px;
}
.tell-left a {
  color: #024f72;
  font-size: 20px;
}
.tell-left a:hover {
  color: #c30000;
}
.booking-service-right input {
  padding: 5px 10px;
  background: #00940d;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
.booking-service-right input:hover {
  background: #c30000;
  color: #ffffff;
}
.back-home i:hover {
  color: #00d1e3;
}
.home-product {
  color: #00415f;
  font-size: 20px;
  top: 40%;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.home-product a {
  color: #00415f;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
}
.home-product-right .filter {
  font-size: 16px;
}
.home-product-right .search-input {
  height: 27px;
  width: 250px;
  font-size: 16px;
  padding-left: 5px;
}
.home-product-right .search-input {
  font-size: 16px;
  font-weight: bold;
}
.home-product-right .fiel legend{
  border: none;
}
.home-product-right .fiel{
  border: 1px solid #000000;
  background: #eeeeee;
  padding: 10px;
  width: 370px;
}
/*pet shop*/
.pet-product-chil .pet-shop-product {
  height: 380px;
  object-fit: cover;
  /* border: 1px solid #024f72; */
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow: ngang dọc độ-tràn-màu khoảng-cách mã-màu; */
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
  margin-bottom: 25px;
  position: relative;
}
.promotion-img {
  animation: text-flicker 4s linear infinite;
}
.sale-promotion {
  position: absolute;
  top: 0;
  width: 40px !important;
  height: 40px !important;
  margin: 10px 0 0 10px;
  animation: letter-flicker 2s linear infinite;
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;

    text-shadow: 0px 0px 29px rgb(22, 161, 242);
  }

  2% {
    opacity: 1;

    text-shadow: 0px 0px 29px rgb(22, 161, 242);
  }

  8% {
    opacity: 0.1;

    text-shadow: 0px 0px 29px rgb(22, 161, 242);
  }

  9% {
    opacity: 1;

    text-shadow: 0px 0px 29px rgb(22, 161, 242);
  }

  12% {
    opacity: 0.1;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  20% {
    opacity: 1;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  25% {
    opacity: 0.3;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  30% {
    opacity: 1;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  70% {
    opacity: 0.7;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  72% {
    opacity: 0.2;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  77% {
    opacity: 0.9;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }

  100% {
    opacity: 0.9;

    text-shadow: 0px 0px rgb(22, 161, 242);
  }
}
.pet-product-chil .pet-shop-product img {
  width: 100%;
  height: 250px;
}
.pet-product-chil .pet-shop-product .pet-shop-title {
  color: #024f72;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 10px;
  margin-top: 10px;
  font-weight: 400;
  height: 55px;
}
.pet-product-chil .pet-shop-product .more {
  margin: 10px 0;
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.pet-product-chil .pet-shop-product .more {
  font-size: 16px;
}
.pet-product-chil .pet-shop-product .more p:hover {
  color: #c30000;
}
.pet-product-chil .pet-shop-product .more i {
  font-size: 12px;
}
.pet-shop-product,
.pet-shop-chil-in {
  position: relative;
}
.pet-shop-product:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}
.pet-shop-product:hover .icon-buy i,
.pet-shop-chil-in:hover .icon-buy i {
  display: block;
}
.pet-shop-product .icon-buy i:hover,
.pet-shop-chil-in .icon-buy i:hover {
  color: #d60000;
}
.pet-shop-product .icon-buy,
.pet-shop-chil-in .icon-buy {
  position: absolute;
  bottom: 4%;
  left: 4%;
}
.pet-shop-product .icon-buy i,
.pet-shop-chil-in .icon-buy i {
  font-size: 16px;
  color: #00940d;
  cursor: pointer;
  display: none;
}
.pet-shop-product .pet-shop-title:hover {
  color: #c30000;
}
/* contact  */
.main-contact {
  background-image: url("https://petmaster.vn/petroom/wp-content/uploads/2020/06/ava-13.jpg");
  width: 100%;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  clear: both;
  position: relative;
  z-index: 1;
}
.main-contact::before {
  content: "";
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 33, 45, 0.6);
  width: 100%;
}
.main-contact-form {
  display: flex;
  justify-content: center;
  z-index: 99;
}
.main-contact-form .contact-form {
  width: 100%;
  margin-top: 60px;
}
.main-contact-form .contact-form h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.contact-form form {
  z-index: 99;
}
.main-contact-form .contact-form .contact-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 99;
}
.main-contact-form .contact-form .contact-us input {
  width: 285px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  z-index: 2;
  padding-left: 10px;
}
.contact-us input::placeholder {
  color: #a9a9a9;
}
.contact-us input {
  color: #ffffff;
}
.contact-image {
  z-index: 99;
  margin-top: 60px;
}
.contact-us textarea {
  width: 585px;
  height: 225px;
  padding: 10px 10px;
  font-size: 18px;
  color: #000000;
  border-radius: 5px;
}
.title-contact {
  color: #ffffff;
  font-size: 16px;
  margin-left: 5px;
}
.contact-message {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0101;
}
.invalid {
  color: #ff0000;
}
.contact-group input {
  border: 1px solid #00a21e !important;
}
.invalid input {
  border: 1px solid red !important;
}
.contact-us-rq {
  display: flex;
  justify-content: center;
}
.contact-form .btn-rq {
  padding: 5px 10px;
  font-size: 18px;
  background: #00a21e;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}
.contact-form .btn-rq:hover {
  background-color: #c30000;
}
.spach {
  margin-bottom: 50px;
}
.form-edit-sevice form {
  margin-top: 0px;
}
.backtop {
  width: 50px;
  height: 50px;
  background: #00a4b0;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
}
.backtop i {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
}
.next-icon-product {
  margin: 0 10px;
  line-height: 30px;
}
.sevice-sevice {
  position: relative;
}
.sevice-sevice .sevice-h2 {
  position: absolute;
  top: 150px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-72%);
  color: #00415f;
}
.succ-contact {
  text-align: center;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #00ff2f;
}
.price-product {
  color: #c30000;
  font-size: 16px;
  right: 10px;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  font-weight: bold;
}
.show-more-product {
  font-size: 18px;
  text-align: center;
  margin: 20px 0 50px 0;
}
.show-more-product a {
  color: #ffffff;
  padding: 8px 15px;
  background: #00940d;
  border-radius: 5px;
}
.price-promotion {
  text-decoration: line-through;
  font-size: 16px;
  color: #c30000;
  font-weight: bold;
  margin-left: 10px;
}
.promotion-div {
  display: flex;
  justify-content: space-between;
}
.price-product-promo {
  color: #00ce11;
}
/* detail  */
.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
}
.is-form {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  height: 2.2rem;
  width: 1.9rem;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
}
.is-form:focus,
.input-text:focus {
  outline: none;
}
.is-form.minus {
  border-radius: 4px 0 0 4px;
}
.is-form.plus {
  border-radius: 0 4px 4px 0;
}
.input-qty {
  background-color: #fff;
  height: 2.2rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main-detail {
  margin-top: 50px;
  margin-bottom: 50px;
}
.detail-product {
  display: flex;
}
.detail-product .detail-product-img {
  width: 300px;
  height: 300px;
}
.detail-product .detail-product-img img {
  width: 100%;
  height: 100%;
}
.detail-product-detail {
  margin-left: 100px;
}
.detail-price {
  display: flex;
}
.detail-price .price {
  font-size: 20px;
  color: #c30000;
  margin-right: 60px;
}
.detail-price .promotion {
  font-size: 20px;
  color: #00760a;
}
.detail-back-home {
  margin-bottom: 15px;
}
.detail-product-detail a {
  font-size: 16px;
  color: #b7b7b7;
}
.detail-product-detail span {
  font-size: 16px;
  color: #b7b7b7;
  margin: 0 5px;
}
.detail-product-detail .detail-title {
  font-size: 20px;
}
.minus {
  height: 50px;
  width: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50% 0 0 50%;
}
.input-qty {
  height: 50px;
  width: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #c30000;
}
.plus {
  height: 50px;
  width: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0 50% 50% 0;
}
.detail-product-detail .detail-line {
  width: 50px;
  height: 3px;
  background: #ababab;
  border-radius: 5px;
  margin: 10px 0;
}
.detail-price {
  margin: 10px 0;
}
.number-product {
  display: flex;
}
.btn-add-store {
  margin-left: 30px;
}
.btn-add-store input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  color: #ffffff;
  background: #00ce11;
  border: 1px solid #c30000;
  font-weight: bold;
}
.btn-add-store input:hover {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  color: #ffffff;
  background: #0084a2;
  border: 1px solid #c30000;
  font-weight: bold;
}
.detail-line-under {
  width: 500px;
  height: 1px;
  background: #ababab;
  border-radius: 5px;
  margin: 20px 0 10px 0;
}
.contact-detail {
  display: flex;
}
.contact-detail a i {
  margin: 0 10px;
  font-size: 20px !important;
}
.contact-detail a i:hover {
  color: #00bfff;
}
.contact-title h5 {
  font-size: 16px;
  color: #0072a7;
}
.buy-similar .icon-buy i:hover{
  color: #c30000;
}
.buy-similar .more p:hover{
  color: #c30000;
}
.slider-show-similar .title-similar:hover{
  color: #00ce11;
}
.detail-content .line-under {
  width: 50px;
  border-top: 3px solid #ababab;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.detail-content .desc-title-content {
  font-size: 16px;
  color: #0072a7;
  font-weight: bold;
}
.detail-similar .line-under {
  width: 50px;
  border-top: 3px solid #ababab;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.detail-similar .desc-title-content {
  font-size: 16px;
  color: #0072a7;
  font-weight: bold;
}
.slider-show-similar {
  height: 385px;
  width: 280px;
  /* background: #0084a2; */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow: ngang dọc độ-tràn-màu khoảng-cách mã-màu; */
  -moz-box-shadow: 0px 0px 8px 0px #ccc;
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.slider-show-similar .img-similar img {
  height: 250px !important;
  width: 100%;
}
.slider-show-similar .title-similar {
  font-size: 18px;
  color: #00415f;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 48px;
}
.slider-show-similar .price-similar {
  display: flex;
  justify-content: space-between;
}
.slider-show-similar-under {
  padding: 10px;
}
.buy-similar {
  display: flex;
  justify-content: space-between;
}
.slider-show-similar .price-similar {
  margin: 10px 0;
}
.slider-show-similar .price-similar .price-sm {
  font-size: 13px;
  font-weight: bold;
  color: #c30000;
}
.slider-show-similar .price-similar .promo-sm {
  font-size: 13px;
  font-weight: bold;
  color: #00940d;
}
.buy-similar .more p {
  color: #00940d;
  font-size: 14px;
}
.buy-similar .icon-buy i {
  color: #008a94;
  font-size: 18px;
}
.slider-show-similar-pre .slider-show-similar{
  margin: 40px 40px 0 40px;
}
.slider-show-similar-pre .fa-chevron-right{
  margin-top: 48px;
}
.slider-show-similar-pre .fa-chevron-left{
  margin-top: 48px;
}
.price-desc{
  text-decoration: line-through;
}
.detail-product{
  position: relative;
}
.promotion-img-detail{
  position: absolute;
  top: 5px;
  left: 5px;
  animation: letter-flicker 2s linear infinite;
}
.sale-promotion-detail{
  animation: text-flicker 4s linear infinite;
  width: 40px !important;
  height: 40px !important;
}
.slider-show-similar{
  position: relative;
}
.promotion-img-detail-under{
  position: absolute;
  top: 5px;
  left: 5px;
}
.price-similar .price-desc{
  color: #c30000;
  font-size: 16px;
  font-weight: bold;
}
.price-similar .promotion-desc{
  color: #00760a;
  font-size: 16px;
  font-weight: bold;
}
.price-similar .promotion{
  color: #c30000;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: end;
}
.comment-detail{
  margin-top: 40px;
}
.name-comment-input{
  width:50%;
  height: 30px;
  margin-bottom: 5px;
  border: 2px solid #0084a2;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 4px;
}
.line-comment{
  width: 75px;
  height: 3px;
  margin-bottom: 5px;
  background: #c2c2c2;
  border-radius: 5px;
}
.comment-detail h5{
  font-size: 16px;
  font-weight: bold;
  color: #0072a7;
}
.comment-text{
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #0084a2;
  resize: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.comment{
  margin: 20px 30px 20px 30px;
  display: flex;
}
.avatar-comment{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.avatar-comment a img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.display-comment p{
  font-size: 14px;
}
#display-commnet-message{
  font-size: 12px;
  color: #c30000;
  font-weight: bold;
}
.button-comment{
  display: flex;
  justify-content: center;
}
.btn-comment{
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background: #00a21e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.page_page{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.page-item{
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #00c8ff;
  padding: 5px 10px;
  margin: 0 5px;
  color: #0084c1;
}
.page-item-current{
  background: #00ce11;
  color: #000000;
}
.price-order-by{
  font-size: 14px;
  padding: 3.5px 10px;
  background-color: #00a21e;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.price-order-by:hover{
  background-color: #0072a7;
}
.group-new-home{
  position: relative;
}
.news-chil-image-home a{
  position: absolute;
}
.view-news-home{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85px;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #05008f;
  background: rgba(0, 238, 255, 0.383);
  justify-content: center;
}